.gymbody {
    background-image: url('https://images.unsplash.com/photo-1584735935682-2f2b69dff9d2?ixlib=rb-1.2.1&raw_url=true&q=80&fm=jpg&crop=entropy&cs=tinysrgb&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1471');
}
.login-clean {
    padding: 45px 0px 55px 0px;
}

.login-clean form {
    max-width: 320px;
    width: 90%;
    margin: 0 auto;
    background-color: #dddddd;
    padding: 40px;
    border-radius: 4px;
    color: #000000;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.1);
}

.login-clean form .form-control {
    background: #f7f9fc;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 10;
    outline: none;
    color: inherit;
    text-indent: 8px;
    height: 42px;
}

.btnn {
    width: 80%;
    margin-left: 25px;
    cursor: pointer;
    margin-bottom: 10px;
}

.login-clean h2 {
    text-align: center;
}